.popupMain{
    width: 400px;
    height: 400px;
    position: absolute;
    background-color: lightgrey;
}
.popup {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup .content {
    overflow-y: scroll;
}
